<div class="chart">
  <div class="bar-row">
    <span class="label">{% if traits %} agreeableness {% endif %}</span>
    <div class="bar-wrap">
      <div class="bar" {% if traits %} style="width: {{ traits.agreeableness }}%;" {% endif %}></div>
    </div>
    <span class="number">{% if traits %} {{ traits.agreeableness }} {% endif %}</span>
  </div>

  <div class="bar-row">
    <span class="label">{% if traits %} conscientiousness {% endif %}</span>
    <div class="bar-wrap">
      <div class="bar" {% if traits %} style="width: {{ traits.conscientiousness }}%;" {% endif %}></div>
    </div>
    <span class="number">{% if traits %} {{ traits.conscientiousness }} {% endif %}</span>
  </div>

  <div class="bar-row">
    <span class="label">{% if traits %} extraversion {% endif %}</span>
    <div class="bar-wrap">
      <div class="bar" {% if traits %} style="width: {{ traits.extraversion }}%;" {% endif %}></div>
    </div>
    <span class="number">{% if traits %} {{ traits.extraversion }} {% endif %}</span>
  </div>

  <div class="bar-row">
    <span class="label">{% if traits %} impression {% endif %}</span>
    <div class="bar-wrap">
      <div class="bar" {% if traits %} style="width: {{ traits.interview }}%;" {% endif %}></div>
    </div>
    <span class="number">{% if traits %} {{ traits.interview }} {% endif %}</span>
  </div>

  <div class="bar-row">
    <span class="label">{% if traits %} neuroticism {% endif %}</span>
    <div class="bar-wrap">
      <div class="bar" {% if traits %} style="width: {{ traits.neuroticism }}%;" {% endif %}></div>
    </div>
    <span class="number">{% if traits %} {{ traits.neuroticism }} {% endif %}</span>
  </div>

  <div class="bar-row">
    <span class="label">{% if traits %} openness {% endif %}</span>
    <div class="bar-wrap">
      <div class="bar" {% if traits %} style="width: {{ traits.openness }}%;" {% endif %}></div>
    </div>
    <span class="number">{% if traits %} {{ traits.openness }} {% endif %}</span>
  </div>
</div>
