<!-- Logo, Nav -->
{% load static %}
<header>
  <div class="py-3 navbar navbar-expand-lg navbar-dark flex-row bd-nav-bar container video-control">
    {% if user.is_authenticated %}
    <a class="navbar-brand mr-0 mr-md-2" href="{% url 'main_app-dashboard' %}">
      <img class="pb-1" src="{% static 'main_app/images/logo_white_name.svg' %}" height="40px" alt="VuePrep Logo">
    </a>
    {% else %}
    <a class="navbar-brand mr-0 mr-md-2" href="{% url 'main_app-home' %}">
      <img class="pb-1" src="{% static 'main_app/images/logo_white_name.svg' %}" height="40px" alt="VuePrep Logo">
    </a>
    {% endif%}
  </div>
</header>