<!-- Logo, Nav -->
{% load static %}
<header>
  <div class="py-3 navbar navbar-expand-lg navbar-dark flex-row bd-nav-bar container">

    <!-- logo navigation -->
    {% if user.is_authenticated %}
    <a class="navbar-brand mr-0 mr-md-2" href="{% url 'main_app-dashboard' %}">
      <img class="pb-1" src="{% static 'main_app/images/logo_white_name.svg' %}" height="40px" alt="VuePrep Logo">
    </a>
    {% else %}
    <a class="navbar-brand mr-0 mr-md-2" href="{% url 'main_app-home' %}">
      <img class="pb-1" src="{% static 'main_app/images/logo_white_name.svg' %}" height="40px" alt="VuePrep Logo">
    </a>
    {% endif%}

    <!-- hamburger icon -->
    <button class="navbar-toggler ml-auto custom-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav ml-auto justify-content-end">
        <!-- {% if request.path != '/mock-interview' %}
          <li class="nav-item active mr-3">
            <a href="{% url 'main_app-mock_interview' %}">{% if user.is_authenticated %}Practice Now!{% else %}Try Mock Interview Now!{% endif%}</a>
          </li>
        {% endif%} -->
        {% if user.is_authenticated %}
        <input type="hidden" id="u_id" name="u_id" value="{{ user.id }}">
        <!-- <li class="nav-item active mr-3">
            <a href="{% url 'main_app-dashboard' %}">Dashboard</a>
          </li> -->
        <li class="nav-item active">
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        {% if request.path != '/login' and request.path != '/register'%}
        <li class="nav-item active mr-4">
          <a href="#">About</a>
        </li>
        <li class="nav-item active">
          <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif%}
        {% endif%}
      </ul>
    </div>
  </div>
</header>
