<!-- Logo, Nav -->
{% load static %}
<header class="container navbar navbar-expand-lg flex-column flex-md-row bd-nav-bar">
  <a class="navbar-brand mr-0 mr-md-2" href="{% url 'main_app-home' %}">
    <img class="pb-1" src="{% static 'main_app/images/logo.png' %}" height="32px" alt="VuePrep Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mr-3">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item actives">
        <button class="nav-link cta-1" onclick="location.href='/static/start.html'" type="button">Get Started</button>
      </li>
    </ul>
  </div>
</header>
