<div class="card">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <div class="placeholder">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="2"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
      <p>Processing Video...</p>
    </div>
    <div class="error">
      <p>Your video cannot be processed...<br />please try again!</p>
    </div>
    <div class="card-content">
      <video src="" controls poster=""></video>
      <div class="error-analyze">
        <p>We could not analyze your video...<br />please try again!</p>
      </div>
      <div class="score-wrapper">
        {% include 'main_app/includes/_graph.html' %}
        <p class="score-display">Score: <b class="score">Calculating</b></p>
      </div>
    </div>
  </div>
</div>
