.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $Red;
  }
  40% {
    stroke: $Blue;
  }
  66% {
    stroke: $Green;
  }
  80%,
  90% {
    stroke: $Yellow;
  }
}

.chart {
  width: 100%;
  .bar-row {
    position: relative;
    height: 34px;
    &:not(:last-of-type) {
      margin-bottom: 18px;
    }
    &:nth-of-type(1) {
      .bar.in {
        transition: 1s 400ms;
        background: $hong;
      }
    }
    &:nth-of-type(2) {
      .bar.in {
        transition: 1s 600ms;
        background: $cheng;
      }
    }
    &:nth-of-type(3) {
      .bar.in {
        transition: 1s 800ms;
        background: $huang;
      }
    }
    &:nth-of-type(4) {
      .bar.in {
        transition: 1s 1000ms;
        background: $lv;
      }
    }
    &:nth-of-type(5) {
      .bar.in {
        transition: 1s 1200ms;
        background: $qing;
      }
    }
    &:nth-of-type(6) {
      .bar.in {
        transition: 1s 1400ms;
        background: $lan;
      }
    }
  }
  .bar-wrap {
    position: relative;
    background: $white;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    overflow: hidden;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 17px;
      transition: all 1s;
      transform: translateX(-100%);
      // &.in {
      //   transform: translateX(0%);
      // }
    }
  }
  .label,
  .number {
    position: absolute;
    display: inline;
    font-size: 14px;
    text-align: left;
    line-height: 26px;
    text-transform: capitalize;
    font-weight: bold;
    z-index: 10;
  }
  .label {
    top: 4px;
    left: 40px;
  }
  .number {
    top: 4px;
    right: 40px;
  }
}
