.auth {
  height: 100vh;
  min-height: 750px;
  background: linear-gradient(
    175deg,
    #000013 0%,
    #1e0e35 30%,
    #453521 100%
    );
  text-align: center;
  overflow: hidden;
  .auth_background {
    position: relative;
    top: 0;
    left: 100%;
    margin-left: -222%;
    width: 200vw;
  }
  .auth_content {
    header {
      background-color: rgba(0,0,0,0);
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    min-height: 750px;
    .auth_text {
      text-align: left;
      margin: 0;
      position: absolute;
      top: 40%;
      -ms-transform: translateY(-40%);
      transform: translateY(-40%);
      z-index: 10;
      width: 100vw;
    }
  }

  #hint_id_password1 > ul {
    list-style: none;
    padding: 0;
  }

  .errorlist {
    list-style-type: none;
    padding: 0;
    margin: 12px;
    li {
      color: red;
      font-size: 12px
    }
  }
}
