.dashboard {
  .card > .card-body {
    .row {
      width: 100%;
      margin: 0;
      div {
        padding: 0;
      }
    }
    .results-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 24px;
      }
    }
    .thumb-wrapper img {
      width: 100%;
      height: 100%;
      @include media-breakpoint-up(lg) {
        padding-right: $spacer;
      }
    }
  }
  .cta {
    margin: 24px auto;
    max-width: 160px;
    display: block;
  }
}
