body {
  @include LightModeTexts();
  @include clearfix();
  margin: 0;
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
}

p {
  blockquote {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}

a.cta {
  @include RoundBtn($DarkPurple, $LimeGreen);
}

.upper {
  @include DarkModeTexts(white);
  text-align: center;
  font-size: 14px;
  z-index: 10;
  p {
    padding: 10px;
  }
}

.page-wrapper {
  min-height: 100px;
}

.border-2 {
  border-width: 2px !important;
}

.hide {
  display: none;
}
