.home {
  ul {
    list-style: none;
    padding: 0;
  }
  .hero {
    height: 100vh;
    min-height: 750px;
    background: linear-gradient(
      175deg,
      #000013 0%,
      #1e0e35 30%,
      #453521 100%
      );
    text-align: center;
    overflow: hidden;
    .hero_background {
      position: relative;
      top: 0;
      left: 100%;
      margin-left: -200%;
    }
    .hero_content {
      header {
        background-color: rgba(0,0,0,0);
      }
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      height: 100vh;
      min-height: 750px;
      overflow: hidden;
      .hero_table {
        position: absolute;
        bottom: 0;
        left: 100vw;
        margin-left: -150vw;
        width: 200vw;
        z-index: 1;

      }
      .hero_text {
        margin: 0;
        position: absolute;
        top: 35%;
        -ms-transform: translateY(-35%);
        transform: translateY(-35%);
        z-index: 10;
      }
    }
    @include heading_big(#fcfcfc, 7vw);
    @include sub_heading(#fcfcfc, 4vw);
    @include media-breakpoint-up(sm) {
      .hero_content {
        .hero_table {
          margin-left: -120vw;
          max-width: 140vw;
        }
        h5: {
          display: block;
        }
      }
      .hero_background {
        max-width: 1300px;
      }
      @include heading_big(#fcfcfc, 56px);
      @include sub_heading(#fcfcfc, 1.2em);
    }
    @include media-breakpoint-up(lg) {
      .hero_content {
        .hero_table {
          margin-left: -100vw;
          max-width: 100vw;
        }
      }
      .hero_background {
        max-width: 1400px;
      }
    }
    @include media-breakpoint-up(xl) {
      .hero_background {
        max-width: 100vw;
      }
    }
  }
  .comm-icon {
    // this is to prevent pixelation
    opacity: .99;
  }
  .comm {
    margin-top: 72px;
    margin-bottom: 72px;
    .comm-content {
      @include heading_big($DarkPurple, 6vw);
      @include sub_heading($DarkPurple, 1.2em);
      @include media-breakpoint-up(md) {
        @include heading_big($DarkPurple, 48px);
        @include sub_heading($DarkPurple, 1.2em);
      }
    }
  }
  .comm-lg {
    background: linear-gradient(
      150deg,
      #f8dde0 0%,
      #cbbee0 100%
      );

  }
  .action {
    margin-top: 72px;
    margin-bottom: 72px;
    .comm-content {
      @include heading_big($DarkPurple, 6vw);
      @include sub_heading($DarkPurple, 1.2em);
      @include media-breakpoint-up(md) {
        @include heading_big($DarkPurple, 48px);
        @include sub_heading($DarkPurple, 1.2em);
      }
    }
  }

  // @include media-breakpoint-up(lg) {
  //   .comm-one {
  //     ul {
  //       display: flex;
  //       list-style: none;
  //       align-items: top;
  //     }
  //     img {
  //       width: 30px;
  //       margin-top: 16px;
  //     }
  //   }
  //   .comm-two {
  //     ul {
  //       display: flex;
  //       list-style: none;
  //       align-items: top;
  //     }
  //     img {
  //       max-width: 100%;
  //       padding-left: 40px;
  //       padding-right: 40px;
  //       margin-top: 16px;
  //       margin-bottom: 40px;
  //     }
  //   }
  //   // .hero-graphic {
  //   //   padding-top: 32px;
  //   // }
  //   .hero {
  //     ul {
  //       li {
  //         &:nth-child(2) {
  //           margin-top: 32px;
  //           height: 550px;
  //           overflow: hidden;
  //         }
  //       }
  //     }
  //   }
  // }
  // @include media-breakpoint-up(xl) {
  // .hero {
  //   ul {
  //     display: flex;
  //     list-style: none;
  //     align-items: center;
  //     li {
  //       &:nth-child(1) {
  //         width: 100%;
  //       }
  //       &:nth-child(2) {
  //         height: 650px;
  //         overflow: hidden;
  //       }
  //     }
  //   }
  //   h1 {
  //     text-align: left;
  //   }
  //   h2 {
  //     margin-top: 32px;
  //     text-align: left;
  //   }
  // }
  // .hero-graphic {
  //   padding-left: 64px;
  //   padding-top: 0;
  // }
  //     .comm-one {
  //       img {
  //         width: 30px;
  //         margin-top: 32px;
  //       }
  //       h2 {
  //         padding-left: 5em;
  //         padding-right: 5em;
  //       }
  //     }
  //     .comm-two {
  //       h2 {
  //         padding-left: 5em;
  //         padding-right: 5em;
  //       }
  //       img {
  //         max-width: 100%;
  //         padding-left: 80px;
  //         padding-right: 80px;
  //         margin-top: 16px;
  //         margin-bottom: 40px;
  //       }
  //     }
  //     .action {
  //       h2 {
  //         padding-left: 5em;
  //         padding-right: 5em;
  //         margin-bottom: 64px;
  //       }
  //     }
  //   }
}
