.interview-details {
  $cardHeight: 280px;
  .card > .card-body {
    padding: 0;
    min-height: $cardHeight;
    a {
      cursor: pointer;
    }
    .modal.show .modal-content .modal-body .chart .bar-row .bar.in {
      transform: translateX(0%);
    }
    .modal-content {
      overflow: hidden;
    }
    .modal-body {
      background: linear-gradient(150deg, #f8dde0 0%, #cbbee0 100%);
    }
    video {
      width: 100%;
    }
    .loader {
      display: none;
    }
    .status {
      font-size: 18px;
    }
    .transcript {
      height: 100%;
      max-height: $cardHeight;
      overflow-y: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .results-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .video-error {
        display: none;
      }
      .result {
        font-size: 36px;
      }
    }
  }
}
