@mixin LightModeTexts($TextColor: $DarkPurple) {
  color: $TextColor;
  background: $LightGrey;
}
@mixin LightModeBts($TextColor: $DarkPurple) {
  color: $TextColor;
  background: $LightGrey;
}
@mixin DarkModeTexts($TextColor: $MediumGrey) {
  color: $TextColor;
  background: $DarkPurple;
}
@mixin DarkModeBts($TextColor: $MediumGrey) {
  color: $TextColor;
  background: $DarkPurple;
}
@mixin RoundBtn($color, $bg) {
  display: inline-block;
  color: $color;
  background: $bg;
  text-align: center;
  border: none;
  border-radius: 100px 100px 100px 100px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 32px 8px 32px;
  min-width: 200px;
  transition: 0.7s;
  &:hover:not([disabled]) {
    background-color: lighten($bg, 7%);
    box-shadow: 0 0 11px $bg;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
  &:disabled {
    opacity: 0.23;
  }
}

@mixin SquareBtn($color, $bg) {
  display: block;
  color: $color;
  background: $bg;
  text-align: center;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  width: 160px;
  transition: 0.7s;
  margin: 0;
  &:hover:not([disabled]) {
    background-color: lighten($bg, 17%);
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
  &:disabled {
    opacity: 0.23;
  }
}

@mixin ImageBtn($bg,$height : 24px) {
  display: block;
  background: $bg;
  height: $height;
  transition: 0.5s;
  &:hover:not([disabled]) {
    background-color: lighten($bg, 17%);
  }
}

@mixin heading_big($color : #fcfcfc, $fontsize : 56px) {
  h1 {
    color: $color;
    font-size: $fontsize;
    font-weight: bold;
    z-index: 10;
  }
}

@mixin sub_heading($color : #fcfcfc, $fontsize : 32px) {
  h5 {
    color: $color;
    font-size: $fontsize;
    margin-top: 32px;
    margin-bottom: 32px;
    line-height: 1.5em;
    z-index: 10;
  }
}
