.mock-interview {
  .modal-footer > button {
    @include SquareBtn(white, rgb(25, 215, 25));
  }
  #btn-next,
  #btn-results {
    display: none;
  }
  .btn-cancel-text {
    @include SquareBtn(white, $DarkGrey);
  }
  .btn-cancel-icon {
    @include ImageBtn(rgba(0, 0, 0, 0.5));
  }
  .btn-record {
    @include SquareBtn(white, rgb(25, 215, 25));
  }
  .btn-next {
    @include SquareBtn(white, $DarkPurple);
  }
  .btn-results {
    @include SquareBtn(white, $Blue);
  }
  .btn-register {
    @include RoundBtn(white, rgb(25, 215, 25));
  }
  .title-wrapper {
    .title-contents {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100px;
    }
    .btn-begin {
      @include SquareBtn(white, rgb(25, 215, 25));
    }
  }
  .video-wrapper {
    display: none;
  }
  .video-display {
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    #video-recorder {
      height: 100%;
      max-width: 100%;
      z-index: 1;
    }
    #timer,
    #notice {
      background-color: rgba(0, 0, 0, 0.5);
      color: $LimeGreen;
      font-size: 20px;
      position: absolute;
      top: 8px;
      right: 20px;
      bottom: auto;
      left: auto;
      z-index: 8;
    }
    #notice {
      display: none;
      background-color: rgba(0, 0, 0, 0.5);
      color: $LimeGreen;
      font-size: 20px;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 8;
      padding-left: 8px;
      padding-right: 8px;
    }
    #ready-go {
      display: none;
      color: $LimeGreen;
      font-size: 30vw;
      font-weight: bolder;
      opacity: 0.41;
      position: absolute;
      z-index: 10;
    }
    .blinking {
      -webkit-animation: 2s blink ease infinite;
      -moz-animation: 2s blink ease infinite;
      -ms-animation: 2s blink ease infinite;
      -o-animation: 2s blink ease infinite;
      animation: 2s blink ease infinite;
    }
    .circle {
      display: none;
      width: 23px;
      height: 23px;
      border-radius: 100px;
      background-color: $Red;
      position: absolute;
      top: 13px;
      right: 90px;
      z-index: 8;
    }
    .controls {
      .controls-upper-left {
        position: absolute;
        top: 8px;
        right: auto;
        bottom: auto;
        left: 20px;
        z-index: 10;
      }
      .controls-lower-left {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        z-index: 10;
      }
      .controls-right {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 10;
      }
    }
  }
  .results-wrapper {
    display: none;
    video {
      width: 100%;
      margin-bottom: $spacer;
      z-index: 1;
    }
    .card {
      height: 100%;
      .card-body {
        min-height: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        span {
          text-align: center;
        }
        p {
          margin: 0;
          font-size: 16px;
          text-align: center;
        }
        .placeholder {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .card-content {
          display: none;
          width: 100%;
          .score-wrapper {
            display: none;
          }
          .score-display {
            text-align: left;
          }
          .error-analyze {
            display: none;
          }
        }
        .error {
          display: none;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .feedback-wrapper {
    display: none;
  }
  @keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-moz-keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-ms-keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-o-keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
