header {
    background-color: $DeepPurple;
}
  
.navbar.video-control {
justify-content: space-between;
align-items: center;
}

.navbar {
.nav-item {
    display: inline-flex;
    align-items: center;
}

a {
    text-align: right;
    color: #fcfcfc;
    font-weight: bold;
    &:hover {
    color: #fcfcfc;
    }
    img {
        // this is to prevent pixelation of svg
        opacity: 0.99;
    }
}
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='4' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 