.start {
  margin: 0;
  font-family: "Mulish", sans-serif;
  color: #726d78;
  font-size: 16px;
  background: #170b27;
  .video-record {
    margin: 32px 16px;
    .videos-wrapper {
      display: flex;
      justify-content: space-between;
      video {
        width: calc(50% - 8px);
      }
      #preview-placeholder {
        width: calc(50% - 8px);
        background: blue;
      }
      #preview {
        display: none;
      }
    }
    .controls {
      margin-top: 16px;
    }
  }
  .body-white {
    margin: 0;
    font-family: "Mulish", sans-serif;
    color: #726d78;
    font-size: 16px;
    background: #f5f5f5;
  }
  p {
    blockquote {
      font-size: 0.9em;
      line-height: 1.6em;
      text-align: center;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: #86ff91;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
  }
  .container {
    text-align: center;
    padding: 0.8em 0.1.2em;
  }
  .upper {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    color: #170b27;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    z-index: 10;
    p {
      padding: 10px;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .background-mode {
    margin-top: auto;
    margin-bottom: auto;
  }
  .main {
    margin-top: 64px;
    margin-bottom: 64px;
    min-height: 480px;
    background: black;
    padding-top: 32px;
  }
  .form-text {
    color: #726d78;
  }

  .custom-file-label {
    &::after {
      position: absolute;
      left: 0;
      right: auto;
      border-left-width: 0;
      border-right: inherit;
      border-radius: 4px 0 0 4px;
    }
  }
  .btn-2 {
    color: #170b27;
    background: #86ff91;
    font-size: 16px;
    border-radius: 4px;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 8;
    &:hover {
      color: #170b27;
      background: #ffd6d6;
    }
    &:disabled {
      border-radius: 4px;
      background-color: #ccc !important;
      color: #726d78;
    }
  }
  .btn-2[disabled] {
    border-radius: 4px;
    background-color: #ccc !important;
    color: #726d78;
  }
  .spinner-wrapper {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .result {
    display: none;
    h4 {
      margin-bottom: 32px;
      text-align: center;
    }
    p {
      &:nth-of-type(1) {
        color: #4285f4;
      }
      &:nth-of-type(2) {
        color: #de3e35;
      }
      &:nth-of-type(3) {
        color: #f78223;
      }
      &:nth-of-type(4) {
        color: #1b9a59;
      }
      &:nth-of-type(5) {
        color: #dd1985e0;
      }
      &:nth-of-type(6) {
        color: #2bb8a0;
      }
    }
  }
  .chart-wrap {
    .bar-wrap {
      .bar.bar-1 {
        background-color: #4285f4;
      }
      .bar.bar-2 {
        background-color: #de3e35;
      }
      .bar.bar-3 {
        background-color: #f78223;
      }
      .bar.bar-4 {
        background-color: #1b9a59;
      }
      .bar.bar-5 {
        background-color: #dd1985e0;
      }
      .bar.bar-6 {
        background-color: #2bb8a0;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    .UploadForm {
      display: block;
      margin-left: 12em;
      margin-right: 12em;
    }
  }
}
