$LightGrey: #f5f5f5;
$MediumGrey: #726d78;
$DarkGrey: #474747;
$DarkPurple: #1e0e35;
$LimeGreen: #6dff7a;
$LightPink: #ffd6d6;
$DeepPurple: #000013;

// loading spinner
$Green: #99cc66;
$Blue: #64a1ff;
$LightBlue: #76cede;
$Red: #ff6699;
$Yellow: #ffcc00;
$White: #eee;
$Salmon: #ff9999;

// chart gradients
$hong: linear-gradient(150deg,#ff6699 0%,#ff9999 100%);
$cheng: linear-gradient(150deg,#ff9999 0%,#ffcc99 100%);
$huang: linear-gradient(150deg,#ffcc00 0%,#ffff99 100%);
$lv: linear-gradient(150deg,#99cc66 0%,#ccff99 100%);
$qing: linear-gradient(150deg,#76cede 0%,#ccffff 100%);
$lan: linear-gradient(150deg,#64a1ff 0%,#8bfcfe 100%);