{% load static %}
<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-C1MEH78JGE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-C1MEH78JGE");
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="copyright" content="©daweiwang+jerrychai" />
  <meta name="author" lang="en" content="daweiwang+jerrychai" />
  <meta name="robots" content="Index,Follow" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'main_app/dst/main.css' %}" />
  <link rel="shortcut icon" href="{% static 'main_app/images/logo.ico' %}" />
  <title>VuePrep | Online Interview Prep Tool</title>
</head>

<body>
  <!-- Notice -->
  <!-- <div class="upper">
    <p>VuePrep is currently in testing mode. For best experience please use a desktop browser.</p>
  </div> -->

  {% block content %}{% endblock %}
  {% if request.path != '/login' and request.path != '/register'%}
  <footer class="container mt-5 pt-3 text-center">
    <div>
      <div class="mb-2 border-top border-2"></div>
      <div class="col-12 mb-2">
        <img src="{% static 'main_app/images/logo_grey.svg' %}" alt="VuePrep logo" width="24" height="24" />
      </div>
      <small class="d-block mb-3 text-muted align-text-middle">
        Copyright &copy; 2020-2021 VuePrep.com. All Rights Reserved.
      </small>
    </div>
  </footer>
  {% endif%}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A==" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="{% static 'main_app/dst/parallax.min.js' %}" type="module"></script>
  <script src="{% static 'main_app/dst/main.js' %}" type="module"></script>

  {% csrf_token %}
</body>

</html>
