{% extends 'main_app/_base.html' %} 
{% load tz %} {% block content %} 
{% include 'main_app/includes/_header_light.html' %}
<div id="dashboard" class="page-wrapper dashboard">
  <div class="container">
    <div class="mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-9">
          <h3 class="mt-4 font-weight-bold">
            Welcome, {{ user.get_username }}.
          </h3>
        </div>
        <div class="col-sm-12 col-md-3">
          <a class="cta float-right" href="{% url 'main_app-mock_interview' %}">Start Practice</a>
        </div>
      </div>
    </div>
    <h5 class="mt-4 mb-4 pb-3 border-bottom border-2">
      Your practice sessions:
    </h5>
  </div>
  <div class="container">
    <div class="row">
      {% if interviews|length > 0 %} 
      {% for i in interviews %}
      <div class="col-12 my-2">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p class="card-title font-weight-bold">Your session at {{ i.created|localtime }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="thumb-wrapper">
                  <div class="row">
                    {% for i_q in i.interview_questions %}
                    <div class="col-6 col-lg-3">
                      <img class="thumb" src="{{i_q.thumb_url}}" alt="interview video" />
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="results-wrapper mt-3 mt-lg-0">
                  {% if i.grade %}
                  <p class="font-weight-bold">Score: {% include 'main_app/includes/_grade_display.html' with obj=i %}</p>
                  {% else %}
                  <p class="font-weight-bold">Score: - </p>
                  {% endif %}
                  <a href="{% url 'main_app-interview_details' id=i.id %}">More details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} 
      {% else %}
      <div class="col-12">
        <p class="text-center mt-5">You do not have any practice sessions.</p>
        <a class="cta" href="{% url 'main_app-mock_interview' %}"
          >Start Practice</a
        >
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
