{% extends 'main_app/_base.html' %}
{% load static %}
{% block content %}
<div id="home" class="page-wrapper home">
  <!-- Hero -->
  <div class="hero">
    <img src="{% static 'main_app/images/hero_cloud.svg' %}" alt="hero_background" class="hero_background">
    <div class="hero_content">
      {% include 'main_app/includes/_header_light.html' %}
      <div class="hero_text">
        <div class="row">
          <div class="col-10 offset-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
            <h1>Your online interview preparation platform.</h1>
            <h5>Preparing for your online interviews? VuePrep makes it easy to practice with hundreds of real interview questions, simulate a realistic online interview setting and get instant reviews on your interview performance.</h5>
            <div>
              <a id="btn-register" class="cta" href="{% url 'main_app-mock_interview' %}">Try it now!</a>
            </div>
          </div>
        </div>
      </div>
      <img src="{% static 'main_app/images/hero_table.svg' %}" alt="hero_table" class="hero_table">
    </div>
  </div>

  <!-- Communication Zero -->
  <div class="comm on-view animate__animated">
    <div class="comm-content d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="pt-5 px-4 pb-4 pb-lg-0 col-12 col-lg-6">
            <img src="{% static 'main_app/images/comm_zero_icon.svg' %}" alt="comm_icon" class="comm-icon">
          </div>
          <div class="pt-5 px-4 col-12 col-lg-6 text-center text-lg-left">
            <h1 class="m-4">300+ interview questions by type.</h1>
            <h5 class="m-4">To leave a lasting impression, being well-prepared is key. VuePrep brings you more than 300 interview questions organized by type to get you well-prepared and ready to ace any online interviews.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Communication One -->
  <div class="comm on-view animate__animated">
    <div class="comm-content d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="float-right pt-5 px-4 pb-4 pb-lg-0 col-12 col-lg-6">
            <img src="{% static 'main_app/images/comm_one_icon.svg' %}" alt="comm-icon" class="comm-icon">
          </div>
          <div class="pt-5 px-4 col-12 col-lg-6 order-lg-first text-center text-lg-left">
            <h1 class="m-4">A realistic online interview setting.</h1>
            <h5 class="m-4">Practicing for online interviews should happen online and be as close to the real thing as possible! VuePrep is a smart online platform to get you comfortable with the online interview format.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Communication Two -->
  <div class="comm on-view animate__animated">
    <div class="comm-content d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="pt-5 px-4 pb-4 pb-lg-0 col-12 col-lg-6">
            <img src="{% static 'main_app/images/comm_two_icon.svg' %}" alt="comm_zero_icon" class="comm-icon">
          </div>
          <div class="pt-5 px-4 col-12 col-lg-6 text-center text-lg-left">
            <h1 class="m-4">Review your practice sessions.</h1>
            <h5 class="m-4">Wanted to know where you did well and where you didn't? VuePrep can save both your past responses or automatically transcribe them so that you can review your performance later or right before your big day!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Communication AI -->
  <div class="comm comm-lg on-view animate__animated">
    <div class="comm-content d-flex align-items-center">
      <div class="container mb-5">
        <div class="row">
          <div class="pt-5 px-4 col-12 col-lg-8 offset-lg-2 text-center">
            <h1 class="m-4 px-0 px-lg-3">Learn the real you, bring out the best of you.</h1>
            <h5 class="m-4">How we perceive ourselves is vastly different from the first impression we leave on others, but VuePrep's smart AI can help with that.</h5>
          </div>
          <div class="pt-5 px-4 pb-4 pb-lg-0 col-12 col-lg-6">
            <img src="{% static 'main_app/images/comm_ai_one.svg' %}" alt="comm_zero_icon" class="comm-icon">
            <p class="m-2 pt-4 text-muted">One of the top qualities recruiters are looking for is positive energy. You can rely on VuePrep's powerful AI to find out how recruiters view your positivity and improve on it as you practice.</p>
          </div>
          <div class="pt-5 px-4 pb-4 pb-lg-0 col-12 col-lg-6">
            <img src="{% static 'main_app/images/comm_ai_two.svg' %}" alt="comm_zero_icon" class="comm-icon">
            <p class="m-2 pt-4 text-muted">VuePrep's AI can also generate realistic snapshots of your personality impression. These snapshots can be used to provide customized feedback to help you leave a lasting impression.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comm-two -->
  <!-- <div class="comm-two on-view animate__animated">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Focus on what you do best.</h1>
          <h2>
            We believe you should not be practicing with your mirror or spending
            time searching for interview questions. Instead, you should focus on
            yourself.
          </h2>
        </div>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6">
          <img src="{% static 'main_app/images/comm_two_icon1.png' %}" alt="icon1">
          <h5>HR Management</h5>
          <p>
            Thus, we hand collected interview questions based on our experience
            and extensive research in HR management. Now you can focus on what
            you do best, that is, being you!
          </p>
        </li>
        <li class="col-12 col-md-6">
          <img src="{% static 'main_app/images/comm_two_icon2.png' %}" alt="icon2" />
          <h5>Machine Learning</h5>
          <p>
            Moreover, we use machine learning algorithms to generate instant
            reviews of your performance. We believe our reviews will alleviate
            your fears and boost your confidence.
          </p>
        </li>
      </ul>
    </div>
  </div> -->

  <!-- Action-btn -->
  <div class="action on-view animate__animated">
    <div class="comm-content d-flex align-items-center">
      <div class="container mb-5">
        <div class="row">
          <div class="pt-5 px-4 col-12 col-lg-8 offset-lg-2 text-center">
            <h1 class="m-4">Ready to step into your future now?</h1>
            <h5 class="m-4">Try VuePrep for free. Start practicing the smart way for online job interviews. Gain the confidence you need and step into your future now.</h5>
            <a id="btn-register" class="cta" href="{% url 'main_app-mock_interview' %}">Try it now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
