{% extends 'main_app/_base.html' %} 
{% block content %} 
{% load static %}
{% include 'main_app/includes/_header_light.html' %}
<div id="interview-details" class="page-wrapper interview-details">
  <div class="container">
    <div class="row my-5 pb-3">
      <div class="col-10">
        <h3 class="font-weight-bold">Your session at {{ interview.created }}</h1>
      </div>
      <div class="col-2">
        <a class="" href="{% url 'main_app-dashboard' %}">
          <img class="float-right" src="{% static 'main_app/images/video_control_cancel.svg' %}" height="30px" alt="Exit to dashboard">
        </a>
      </div>
      <div class="col-12">
        <h4 class="my-2 font-weight-bold interview-grade{% if not interview.grade %} hide{% endif %}">
          Overall Score: {% include 'main_app/includes/_grade_display.html' with obj=interview %}
        </h4>
        <div class="interview-interpretation-wrapper{% if not interview.interpretation %} hide {% endif %}">
          <h5>Feedback:</h5>
          <p class="mb-5 interview-interpretation">{{ interview.interpretation }}</p>
        </div>
       </div>
    </div>
    <div class="row">
      {% for i_q in interview.interview_questions %}
      <div id="interview-question-{{ i_q.id }}" class="col-12 my-2">
        <div class="card question p-4">
          <h5 class="mb-4 font-weight-bold card-title">Question: {{ i_q.question.content }}</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-lg-5">
                <video src="{{ i_q.video_url }}" controls></video>
              </div>
              <div class="col-12 col-lg-4">
                <div id="transcript-{{ i_q.id }}" class="transcript my-3 my-lg-0">
                  {% if  i_q.transcript %}
                   <p>{{ i_q.transcript }}</p>
                  {% else %}
                    <div class="loader mb-2">
                      <svg class="circular" viewBox="25 25 50 50">
                        <circle
                          class="path"
                          cx="50"
                          cy="50"
                          r="20"
                          fill="none"
                          stroke-width="2"
                          stroke-miterlimit="10"
                        />
                      </svg>
                    </div>
                    <p class="status">No transcript for this video</p>
                    <p><a class="my-2 generate-transcript" data-id="{{ i_q.id }}">generate transcript</a></p>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 col-lg-3">
                <div class="results-wrapper">
                    <span class="video-error{% if i_q.grade == 'ERRORED'%} d-block{% endif %}">error processing video, please make sure you response is longer than 15 seconds and you speak at a reasonable volume</span>
                    <p class="result{% if not i_q.grade or i_q.grade == 'ERRORED' %} hide{%endif%}">Score: {% include 'main_app/includes/_grade_display.html' with obj=i_q %}</p>
                    <a class="modal-launch{% if not i_q.grade or i_q.grade == 'ERRORED' %} hide{%endif%}" data-id="{{ i_q.id }}" data-toggle="modal" data-target="#modal-{{ i_q.id }}">see analysis</a>
                    <div class="loader mb-2">
                      <svg class="circular" viewBox="25 25 50 50">
                        <circle
                          class="path"
                          cx="50"
                          cy="50"
                          r="20"
                          fill="none"
                          stroke-width="2"
                          stroke-miterlimit="10"
                        />
                      </svg>
                    </div>
                    <p class="status {% if i_q.grade %} hide{%endif%}">Not Analyzed</p>
                    {% if not i_q.grade %} 
                      <button class="btn-predict-question btn btn-success my-2" data-id="{{ i_q.id }}">Analyze Impression</button>
                    {%endif%}
                </div>
              </div>
              <div class="col-12 mt-2">
                <a href="{% url 'main_app-dashboard' %}">Back to dashboard</a>
              </div>


              <!-- modal -->
              <div class="modal" tabindex="-1" role="dialog" id="modal-{{ i_q.id }}">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Detailed Breakdown</h5>
                      <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </span>
                    </div>
                    <div class="modal-body p-4">
                      {% if i_q.personality_traits %}
                        {% include 'main_app/includes/_graph.html' with traits=i_q.personality_traits %}
                      {% else %}
                        {% include 'main_app/includes/_graph.html' %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- end modal -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
