{% extends 'main_app/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div id="login" class="page-wrapper auth">
  <img src="{% static 'main_app/images/hero_cloud.svg' %}" alt="auth_background" class="auth_background">
  <div class="auth_content">
    {% include 'main_app/includes/_header_video_control.html' %}
    <div class="auth_text">
      <div class="mt-5 container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
          {% if messages %}
            {% for message in messages %}
              <div{% if message.tags %} class="alert alert-{{ message.tags }} mb-3" {% endif %}>{{ message }}</div>
            {% endfor %}
          {% endif %}
          </div>
          <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="card">
              <div class="card-header">
                <h3 class="mt-2 font-weight-bold text-center">Welcome back!</h3>
                <p class="text-center">We're excited to see you again.</p>
              </div>
              <div class="card-body">
                <form id="login-form" method="post">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    <!-- {{ form|crispy }} -->
                    {% for field in form %}
                      <div class="my-2 fieldWrapper">
                          {{ field.label_tag }}
                          {{ field }}
                          {{ field.errors }}
                          {% if field.help_text %}
                          <p class="help">{{ field.help_text|safe }}</p>
                          {% endif %}
                      </div>
                    {% endfor %}
                  </fieldset>
                  <div class="form-group">
                    <button type="submit" name="button" class="btn btn-primary">Log In</button>
                  </div>
                </form>
                <div class="d-flex links">
                  Don't have an account? <a href="{% url 'register' %}" class="ml-1">Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
