{% extends 'main_app/_base.html' %}
{% load static %}
{% block content %}
<input type="hidden" name="run_prediction" id="run_prediction" value="{{ run_prediction }}">
<div id="mock-interview" class="page-wrapper mock-interview">
  <div class="title-wrapper">
    <div class="selections">
      {% include 'main_app/includes/_header_video_control.html' %}
      <div class="title-contents">
        <h4 class="mt-5 text-center font-weight-bold mb-4">Prepare Your Session</h4>
        <div class="row">
          <div class="col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 p-5 bg-white border border-light">
            <div>
              <h5>What type of questions would you like to practice?</h5>
              <select id="criterion-select" class="custom-select my-3">
                <option value="" disabled selected>Select question type for this practice session.</option>
                {% for criterion in criteria %}
                <option value="{{ criterion.id }}">{{ criterion.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mt-4">
              <h5>How many questions for this session?</h5>
              <select id="number-select" class="custom-select my-3">
                <option value="" disabled selected>Select total number of questions for this session.</option>
                <option value="1">4</option>
              </select>
            </div>
            <div class="mt-4">
              <h5>What is the maximum length per response?</h5>
              <select id="minute-select" class="custom-select my-3">
                <option value="" disabled selected>Select a duration so you can time your response.</option>
                <option value="1">1 minute</option>
                <option value="2">2 minutes</option>
                <option value="3">3 minutes</option>
              </select>
            </div>
            <div class="mt-4">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="video-switch" checked>
                <label class="custom-control-label" for="video-switch">Record my session so I can review later.</label>
              </div>
            </div>
            <p class="my-4 text-muted">A gentle note: We recommend using Chrome or FireFox. Once the practice session starts, do not refresh your browser or go back or you will lose your progress.</p>
            <button class="btn-begin float-right" id="btn-begin" disabled>Start</button>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-4 mb-3 text-center font-weight-bold" id="question"></h3>
  </div>
  <div class="video-wrapper">
    <div class="video-display">
      <video id="video-recorder" muted></video>
      <div class="blinking circle"></div>
      <p class="blinking" id="notice"></p>
      <p id="ready-go">GO!</p>
      <p id="timer"></p>
      <div class="controls">
        <div class="controls-upper-left">
          <input type="image" src="{% static 'main_app/images/video_control_cancel.svg' %}" class="btn-cancel-icon" id="btn-cancel" data-toggle="modal" data-target="#modal-exit"/>
        </div>
        <div class="controls-lower-left">
          <!-- <button src="{% static 'main_app/images/video_control_cancel.svg' %}" class="btn-cancel-text" id="btn-cancel" data-toggle="modal" data-target="#modal-exit">EXIT</button> -->
        </div>
        <div class="controls-right">
          <button src="{% static 'main_app/images/video_control_start.svg' %}" class="btn-record" id="btn-record">RESPOND</button>
          <button src="{% static 'main_app/images/video_control_next.svg' %}"  class="btn-next" id="btn-next">SUBMIT</button>
          <button src="{% static 'main_app/images/video_control_review.svg' %}" class="btn-results" id="btn-results">REVIEW</button>
        </div>
      </div>
    </div>
  </div>
  <div class="results-wrapper">
    {% include 'main_app/includes/_header_video_control.html' %}
    <div class="container">
      {% if run_prediction %}
      <h4 class="mt-4 text-center font-weight-bold">Overall Score: <b id="final-score" class="final-score">Calculating...</b></h4>
      {% endif %}
      <div class="result mt-4" id="result">
        <h5>Results:</h5>
        <div class="row">
          {% for i in q_count %}
          <div class="col-12 col-lg-6 my-2">
            {% include 'main_app/includes/_result_card.html' %}
          </div>
          {% endfor %}
        </div>
        {% if run_prediction %}
        <div class="row">
          <div class="feedback-wrapper">
            <h5 class="my-3">Feedback:</h5>
            <p class="feedback-content"></p>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="mt-3 col-12 text-center">
          {% if user.is_authenticated %}
          <div class="row">
            <div class="col-6">
              <a class="btn-cancel-text" href="{% url 'main_app-dashboard' %}">Go to dashboard</a>
            </div>
            <div class="col-6">
              <a class="btn-record float-right" href="{% url 'main_app-mock_interview' %}">Practice again</a>
            </div>
          </div>
          {% else %}
          <a class="btn-register" id="interview-register" href="{% url 'register' %}">Register to track your progress</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

   <!-- modal -->
   <div class="modal" tabindex="-1" role="dialog" id="modal-exit">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Exit current session now?</h5>
          <span type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </span>
        </div>
        <div class="modal-body">
          <p>Your progress will not be saved</p>
        </div>
        <div class="modal-footer">
          {% if user.is_authenticated %}
          <a href="{% url 'main_app-dashboard' %}">Exit to dashboard</a>
          {% else %}
          <a href="{% url 'main_app-home' %}">Exit to homepage</a>
          {% endif%}
          <button type="button" data-dismiss="modal" class="ml-3">Return to session</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal -->
  
</div>
{% endblock content %}
