{% extends 'main_app/_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div id="login" class="page-wrapper auth">
  <img src="{% static 'main_app/images/hero_cloud.svg' %}" alt="auth_background" class="auth_background">
  <div class="auth_content">
    {% include 'main_app/includes/_header_video_control.html' %}
    <div class="auth_text">
      <div class="mt-5 container">
        <div class="row">
      <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <div class="card">
          <div class="card-header">
            <h3 class="mt-2 font-weight-bold text-center">Create account.</h3>
            <p class="text-center">VuePrep is free so get started now!</p>
          </div>
          <div class="card-body">
            <form id="register-form" method="post">
              {% csrf_token %}
              {% if request.GET.i_id %}
                <input type="hidden" name="i_id" id="i_id" value="{{ request.GET.i_id }}">
              {% endif %}
              <fieldset class="form-group">
                <!-- {{ form|crispy }} -->
                {% for field in form %}
                  <div class="my-2 fieldWrapper">
                      {{ field.label_tag }}
                      {{ field }}
                      {{ field.errors }}
                  </div>
                {% endfor %}
              </fieldset>
              <div class="form-group">
                <button type="submit" name="button" class="btn btn-primary">Register</button>
              </div>
            </form>
            <div class="d-flex links">
              Already have an account? <a href="{% url 'login' %}" class="ml-1">Login</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
